<article class="post-single">
  <header class="post-header">
    <h1 class="post-header-title"><%- page.title %></h1>  
    <div class="infos">
      <time datetime="<%- page.date %>" class="post-header-date">
        <i class="fa fa-calendar" aria-label="Data de publicação"></i> <%- date(page.date, 'DD/MM/YYYY') %>  |
        <i class="fa fa-clock-o" aria-label="Tempo de leitura"></i> <%- readingTime(page.content, 'minutos') %> de leitura
      </time>
        <%- partial('_partial/tags') %>
    </div>
  </header>
  <p class="post-content">
    <%- page.content %>
  </p>
  <div class="comments">
    <%- partial('_partial/comments') %>      
    <div id="disqus_thread"></div>
  </div>
</article>    


